/********************
Buttons.css
********************/
button:hover {
  cursor: pointer;
}

button {
  border-radius: 100px;
  border: 0;
  outline: 0;
  padding: 12px;
}

button.reddish {
  background-color: #fd7172;
  color: #fff;
}

button.normal {
  background-color: #fff;
  color: #716eff;
  border: solid 1px #716eff;
}

button.disabled {
  background-color: #fff;
  border: solid 1px #d8d8d8;
  color: #d8d8d8;
}

button.gradient {
  background: linear-gradient(109deg, #43e4ff -27%, #716eff 33%);
  color: #fff;
}

/* 






 */

.mainWrapper {
  display: flex;
  justify-content: space-between;
  color: #0400b1;
  background-color: #f5f5f5;
  padding: 0px 100px 100px 100px;
}

.rightSide {
  flex: 75%;
}

.leftSide {
  margin-right: 50px;
}

/********************************

Header CSS

*********************************/

.messageAndSelectContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin: 20px 0px;
}

/********************************
  Statistics Styles
  ******************************/
.statisticsContainer {
  margin: 5px;
  width: 50%;
}

.backgroundWhite {
  background-color: #fff;
  border-radius: 30px;
}

.statisticsHeader {
  padding: 10px 20px 0px 20px;
  font-weight: bold;
}

.statistics {
  display: flex;
  align-items: center;
  padding: 20px;
}

.progressInfo {
  display: flex;
  align-items: center;
}

.progressInfo .img {
  margin-left: 5px;
}

.statisticsBreif {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.progressInfo .img img {
  width: 75%;
  min-width: 60px;
}

.exercisesNames {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  margin-right: 10px;
}

.exercisesNames p {
  padding: 10px;
  border-bottom: 1px solid #cccbff;
  font-size: 13px;
}

.exercisesNames p:first-child {
  border-top: 1px solid #cccbff;
}

.exercisesNames p.not-completed {
  color: #cccbff;
}

.timer {
  padding: 30px;
  border-bottom: solid 2px #f5f5f5;
}

/* 






 */

hr {
  margin: 30px 0px;
}
button {
  cursor: pointer;
}

.meetADoctor img,
.onlineConsultaion img,
.uploadFiles img {
  max-width: 90%;
  height: 80px;
}
.meetADoctor p,
.onlineConsultaion p,
.uploadFiles p {
  font-weight: bold;
}

.meetADoctor,
.onlineConsultaion,
.uploadFiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  text-align: center;
  width: 16%;
  margin: 5px;
}

/* .main-side {
  flex: 75%;
  padding: 0 75px 0 40px;
} */

.task {
  display: flex;
  flex-direction: column;
  width: 32%;
  margin-bottom: 20px;
}

.aa {
  width: 22%;
  display: flex;
  flex-direction: column;
}

.aa .guidesDesc {
  color: #43e4ff;
  flex-grow: 1;
}

/* .c-white {
  color: #fff;
} */

.rowHeader {
  font-weight: bold;
  margin-bottom: 20px;
}
.title {
  color: #fff;
  font-weight: bold;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 10px 15px;
}

.desc {
  font-weight: bold;
  padding: 30px 20px;
  flex-grow: 1;
}

.metaInfo {
  padding: 0px 20px 20px 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* .color-blue {
  color: #0400b1;
} */

.backgroundBlue {
  background-color: #0400b1;
  color: #fff;
}

.reddish {
  background-color: #fd7172;
}

.disabled {
  color: #ababab;
  font-size: 0.75rem;
}

.bold {
  font-weight: bold;
}

.firstRow,
.secondRow,
.thirdRow {
  display: flex;
  justify-content: space-between;
}

.fourthRow {
  display: flex;
}

.thirdRow {
  flex-wrap: wrap;
}

.recommendation {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.taskButton button {
  outline: 0;
  border: 0;
  padding: 12px;
  width: 100%;
  border-radius: 26px;
  color: #fff;
  background-image: linear-gradient(102deg, #43e4ff -28%, #716eff 31%);
}
/* .task-button button.completed-task-button {
  border: solid 1px #716eff;
  border-radius: 26px;
  background: #fff;
  color: #716eff;
} */

.completedTaskTitle {
  background-color: #21cec1;
}

.contactButtons.metaInfo {
  text-align: center;
}

.aa .metaInfo.backgroundBlue > * {
  color: #fff;
}

.failedTaskTitle {
  background-color: #fd7172;
}

.contactButtons.metaInfo button {
  outline: 0;
  padding: 12px;
  margin: 0px 5px;
  width: 40%;
  border: solid 1px #716eff;
  border-radius: 26px;
  background: #fff;
  color: #716eff;
}

.fourthRowDiv {
  width: 32%;
  margin-left: 20px;
}

.messagePreview {
  margin: 10px 0px;
  padding: 10px;
  background-color: rgba(67, 228, 255, 0.16);
}

.readMoreMessages {
  text-align: left;
}

hr {
  height: 1px;
  background-color: #cbcbcb;
  border: none;
}

.statistics-breif p.disabled {
  color: #ababab;
  font-size: 0.75rem;
}

.disabledComponent {
  color: #c9c9c9;
}

.aa.disabledComponent .title {
  background-color: #fff;
  color: #c9c9c9;
}
.aa.disabledComponent .metaInfo {
  background-color: #fff;
  color: #c9c9c9;
}
.aa.disabledComponent .metaInfo a {
  color: #c9c9c9;
}

.aa.disabledComponent .guidesDesc {
  background-color: #fff;
  color: #c9c9c9;
  flex-grow: 1;
}

.task.disabledComponent .taskName {
  background-color: #c9c9c9;
  color: #fff;
}

.task.disabledComponent .fa-check {
  display: none;
}

.task.disabledComponent .taskButton button {
  border: solid 1px #c9c9c9;
  background-image: none;
  background-color: #fff;
  color: #c9c9c9;
}
